.SwitchColor {
    color: black;
    fill: black;
}

.Back {
    width: 100%;
    padding: 20px;
    margin: 80px 20px 0;
    cursor: pointer;
    position: fixed;
    top: 70px;
    z-index: 300;
}

.Content {
    margin-top: 80px;
}

@media (min-width: 576px)
{
    .Back {
        max-width: 540px;
    }
}

@media (min-width: 768px)
{
    .Back {
        max-width: 720px;
    }
}

@media (min-width: 992px)
{
    .Back {
        max-width: 960px;
    }
}

@media (min-width: 1200px)
{
    .Back {
        max-width: 1140px;
    }
}





