.Footer {
    text-align: center;
    width: 100%;
    padding: 50px 0 25px;
    background: #444444;
    font-size: 16px;
    position: relative;
}

.Container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Text {
    width: calc(100% - 350px);
    height: 200px;
    margin: auto;
    font-weight: 200;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Title {
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid;
}

.Logo {
    width: 100%;
    height: 100px;
}
.Logo svg {
    width: 200px;
}

.Nav {
    width: 17%;
    margin: 0 20px;
    height: 100%;
}

.Nav svg {
    width: 20px;
}

.SiteMapItems {
    list-style: none;
    padding-left: 10px;
    font-size: 12px;
}


.Map {
    width: 350px;
    margin: auto;
    font-weight: 200;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Map .Left {
    text-align: right;
}

.Map .Left p{
    margin: 0;
    text-align: left;
}

.Map .Right svg {
    height: 200px;
}

.Map circle {
    animation: pulse 0.3s infinite;
}

.MobileNav {
    display: none;
}

.SocialBar {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Copyright {
    width: 100%;
    text-align: center;
    font-weight: 200;
    margin-top: 20px;
    font-size: 12px;
}

.SwitchColor {
    color: white;
}

.SwitchColor svg {
    fill: white !important;
    stroke: white !important;
}

@media (max-width: 749px) {
    .Container {
        width: 95%;
    }

    .Text {
        display: none;
    }

    .Logo {
        height: 60px;
    }

    .Map {
        width: 100%;
        display: block;
        padding-top: 20px;
    }

    .Map .Left {
        width: 100%;
    }

    .Map .Left p{
        text-align: center;
    }

    .Map .Right svg {
        height: 0;
    }

    .Nav {
        display: none;
    }

    .Copyright {
        font-size: 12px;
    }

    .MobileNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    
    .MobileNav a {
        text-decoration: none;
        text-align: center;
        
    }

}

@keyframes pulse {
    0% { box-shadow:0 0 8px #3d9842, inset 0 0 8px #3d9842; }
    50% { box-shadow:0 0 16px #3d9842, inset 0 0 14px #3d9842; }
    100% { box-shadow:0 0 8px #3d9842, inset 0 0 8px #3d9842; }
  }