.SeeMoreButton {
    padding: 10px;
    border-radius : 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: fit-content;
    margin: 20px auto auto;
    color: white;
}

.SeeMoreButton a {
    color: inherit;
}

@media (min-width: 550px) {
    .SeeMoreButton:hover {
        background: white;
        color: black;
        transition: all 0.3s ease;
    }
}