.Team {
    width: 100%;
    background: white;
}

.TeamMembers {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 100px 20px;
    position: relative;
}

.Title {
    width: 70%;
    text-align: left;
    font-size: 48px;
    font-weight: 800;
    margin: auto;
}

@media (max-width: 749px){

    .Title {
        font-size: 28px;
    }
}