.Toolbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 399;
    transition: all 0.3s ease-out;
}

.Controls {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    align-items: center;
}

.Controls > div {
    margin-left : 40px;
}

.BackButton {
    font-weight: 700;
    cursor: pointer;
    color: black;
}

.DesktopOnly {
    position: absolute;
    top: 0;
    right: 20px;
}

.DrawerToggle {
    stroke: white;
}

.Toolbar nav {
    height: 100%;
}

.Active .Logo {
    opacity: 1;
}

.Active {
    background: transparent;
}

.BgWhite {
    background: rgba(255, 255, 255, 0.8);
}

.Logo {
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.Logo svg{
    height: 30px;
}

@media (max-width: 749px) {
    .DesktopOnly {
        display: none;
    }

    .Toolbar {
        height: 56px;
    }

    .Active {
        background: rgba( 0, 0, 0, 0.8);
    }

    .BgWhite {
        background: rgba(255, 255, 255, 0.8);
    }

    .Logo {
        position: absolute;
        top: 20px;
        left: 20px;
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    
    .Logo svg{
        height: 16px;
    }
}