.SwitchColor {
    color: black;
    fill: black;
}

.Back {
    width: auto;
    padding: 20px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    z-index: 300;
}

.Content {
    padding-top: 80px;
}

@media (min-width: 768px)
{
    .Content {
        padding-top: 120px;
    }
}

@media (min-width: 992px)
{
    .Content {
        padding-top: 200px;
    }
}





