.SideNavContainer {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SideNavItem {
    width: 2px;
    height: 2px;
    margin: auto;
    border: 1px solid;
    border-radius: 50%;
    transition: all 0.2s linear;
    transform-origin: center center;
}


.Active .SideNavItem{
    transform: scale(3);
    background: transparent !important;
}

.SideNavContainer:hover .SideNavItem{
    transform: scale(3);
}