.TeamMember {
    width: 25%;
    height: 200px;
    box-shadow: 0 100px 200px rgba(255, 255, 255, 0.068);
    background: transparent;
    padding-bottom: 15px;
    border: 1px solid;
}

.Person {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
}

.Text {
    width: 60%;
    text-align: left;
    margin-left: 10px;
}

.Image {
    width: 40%;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.Image img {
    width: 100%;
}


.Skill {
    
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}


.Skill svg {
    width : 40%;
}

.Skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

@media (max-width: 749px) {
    .TeamMember {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
}