.Main {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 150px;
}

.Image {
    width: 40px;
}

.Image svg {
    width: 100%;
}

.Block {
    width: calc(100% - 40px);
    padding-left: 20px;
}

.Block .Title {
    font-size: 20px;
    height: 40px;
    font-weight: 400;
    border-bottom: 1px solid;
}

.Block .Text {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
}




@media (max-width: 749px){
    .Main {
        width: 70%;
        margin: 20px auto;
        position: static;
    }

}