.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem .Link {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.NavigationItem .Icon {
    display: none;
}

@media (min-width: 750px) {
    .NavigationItem {
        margin: 0;
        padding: 5px;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem .Link {
        height: 100%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
    }

    .NavigationItem .Link::after {
        content: ""; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
    }

    .NavigationItem .Icon {
        text-align: center;
        display: block;
    }

    .NavigationItem .Icon svg{
        height: 25px;
    }

    .NavigationItem .Line {
        display: block;
        width: 0;
        height: 2px;
        margin-top: 2px;
        transition: width .3s ease-out;
    }

    .NavigationItem .Text {
        display: block;
        opacity: 0;
        transform: translateY(-50%);
        transition: all .3s ease-out;
    }
    
    .NavigationItem .Link:hover .Line{
        width: 100%;
    }

    .NavigationItem .Link:hover .Text{
        opacity: 1;
        transform: translateY(0);
    }

    .NavigationItem .Link:active .Line,
    .NavigationItem .Link.active .Line {
        width: 100%;
    }

}