.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem .Link {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

@media (min-width: 750px) {
    .NavigationItem {
        margin: 0;
        padding: 5px;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem .Link {
        height: 100%;
        padding: 30px;
        cursor: pointer;
    }

    .NavigationItem .Link .After {
        display: block;
        width: 0;
        height: 2px;
        margin-top: 2px;
        transition: width .3s ease-out;
    }
    
    .NavigationItem .Link:hover .After{
        width: 100%;
    }

    .NavigationItem .Link:active .After,
    .NavigationItem .Link.active .After {
        width: 100%;
    }

/*    .NavigationItem .Link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        transition: width .3s ease-out;
        background: rgb(7, 87, 119);
    }
    
    .NavigationItem .Link:hover::after{
        width: 100%;
    }

    .NavigationItem .Link:active::after,
    .NavigationItem .Link.active::after {
        width: 100%;
    } */
}