.Terms {
    margin-top: 150px;
    width: 100%;
}

.Block {
    width: 750px;
    margin: 100px auto;
}

@media (max-width: 749px) {
    .Block {
        width: 70%;
        margin: auto;
        font-size: 12px;
    }
}