
.Main {
    position: relative;
}

.SkillDiv {
    width: 100%;
    background: white;
}

.SkillTitle {
    width: 100%;
    padding: 30px 0;
}

.TitleText {
    width: 70%;
    font-size: 48px;
    font-weight: 800;
    text-align: left;
    margin: auto;
}

.TitleSubText {
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 50px auto 20px;
}

.SkillOverview {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 749px) {

    .TitleText {
        font-size: 28px;
    }

    .SkillDiv {
        height: auto;
    }

    .SkillOverview {
        height: auto;
        width: 100%;
        display: block;
        padding: 20px 0;
    }
}

/* @media (min-width: 750px){
    .SkillDivBody {
        width: 44%;
        height: 50vh;
        top: 20%;
        left: 5%;
    }
    
    .SkillDivCircles {
        width: 44%;
        top: 10% ;
        right: 5%;
    }
    

} */

