
.Main {
    position: relative;
}

.SkillDiv {
    height: calc(100vh - 70px);
    width: 100%;
}

.SkillTitle {
    position: relative;
    width: 100%;
    height: 20%;
}

.SkillTitle h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
}

.SkillTitle * {
    font-weight: 200;
}

.SkillOverview {
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.Content {
    height: 100vh;
    width: 100%;
}

.SkillDivCircles {
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 200;
    top: 5%;
}

@media (max-width: 749px) {
    .SkillDivCircles {
        left: 5%;
    }
    .SkillTitle h2 {
        margin: 0;
        position: static;
        font-size: 18px;
        transform: translate(0);
        text-align: center;
        padding: 30px 0 ;
    }

    .Content {
        height: auto;
    }

    .Content:last-child {
        margin-bottom: 20px;
    }

    .SkillDiv {
        height: auto;
        background: black;
    }

    .SkillOverview {
        height: auto;
        width: 100%;
        display: block;
        padding: 20px 0;
    }
}

/* @media (min-width: 750px){
    .SkillDivBody {
        width: 44%;
        height: 50vh;
        top: 20%;
        left: 5%;
    }
    
    .SkillDivCircles {
        width: 44%;
        top: 10% ;
        right: 5%;
    }
    

} */

