.Main {
    position: relative;
}

.Home {
    height: calc(100vh - 72px);
    width: 100%;
    position: relative;
    top: 0;
    padding-top: 72px;
    left: 0;
}

.Animation {
    height: 30%;
    padding-top: 5%;
    width: 60%;
    margin-left: 10%;
}

.DivButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.DivMouse {
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 100%;
}

.Text {
    width: 70%; 
    text-align: right;
    font-size: 20px;
    font-weight: 200;
    transform: translateX(20%);
}

.Content {
    height: 100vh;
    width: 100%;
}

.Container {
    background: white;
}

.ColorWhite {
    color: white !important;
    transition: all 0.3s linear;
}

@media (max-width: 749px) {
    .Text {
        font-size: 14px;
    }

    .Content {
        height: auto;
    }
}