.Main {
    width: 100%;
    background: white;
}

.Container {
    width: 70%;
    margin: auto;
}


.Companies {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.Companies img {
    width: 150px;
}

@media (max-width: 749px) {

    .Companies {
        display: block;
        text-align: center;
    }

    .Companies img {
        padding : 20px 0;
    }
}