/* .NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

@media (max-width: 749px) {
    .NavigationItems {
        font-size: 2rem;
    }
} */




.IconHome::before { content: "\e601" }
.IconAbout::before { content: "\e091" }
.IconNews::before { content: "\e600" }
.IconImage::before { content: "\e602" }
.IconMail::before { content: "\e605" }