.btn {
    position: relative;
    width: 40px;
    height: 41px;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .btn svg {
    position: absolute;
    width: 40px;
    height: 4px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transition: all 0.3s linear;
    stroke-width: 4px;
  }
  .btn svg::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: gray;
    transition: all 0.3s linear;
  }
  .btn svg:nth-child(1) {
    animation: line-first-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  .btn svg:nth-child(2) {
    animation: line-second-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  .btn svg:nth-child(3) {
    animation: line-third-off 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @media (min-width: 750px) {
    .btn.on:hover svg::before {
      width: 100%;
      transition: all 0.3s linear;
    }
  }

  .btn.on svg:nth-child(1) {
    animation: line-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  .btn.on svg:nth-child(2) {
    animation: line-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  .btn.on svg:nth-child(3) {
    animation: line-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes line-first-on {
    0% {
      transform: translate(-50%, -300%);
    }
    30% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  @keyframes line-first-off {
    0% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    30% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -300%);
    }
  }
  @keyframes line-second-on {
    0% {
      transform: translate(-50%, -50%);
    }
    25% {
      fill: gray;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-150%, -50%) scale(0);
    }
  }
  @keyframes line-second-off {
    0% {
      transform: translate(-150%, -50%) scale(0);
    }
    25% {
      fill: gray;
    }
    50% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
  @keyframes line-third-on {
    0% {
      transform: translate(-50%, 200%);
    }
    30% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  @keyframes line-third-off {
    0% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    30% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, 200%);
    }
  }