.Contact {
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
}

.Wrapper {
    width: 60%;
    margin: auto;
    display: flex;
    padding: 170px 0;
    max-width: 1200px;
}

.Form {
    width: 60%;
}

.Info {
    width: 40%;
    font-size: 32px;
    line-height: 32px;
}

@media (max-width: 749px){
    .Contact {
        height: auto;
    }

    .Wrapper {
        display: block;
        width: 90%;
    }

    .Form {
        width: 90%;
        margin: auto;
    }
    .Info {
        width: 90%;
        margin: auto;
        padding-bottom: 50px;
    }
}